.no-margin-left {
    margin-left: 0 !important;
}

.fab-right-end {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
}

.md-select-value span {
    color: white;
}

md-checkbox .md-label {
    margin-top: 11px !important;
}