<div layout="row" flex="100" layout-align="center center" layout-wrap>
    <div layout="row" flex="100" layout-align="center center">
        <h1>Taskify</h1>
    </div>
    <div class="content-box" layout="row" flex="100" flex-gt-xs="50" flex-gt-md="25" layout-wrap layout-margin layout-align="center center">
        <div layout="row" flex="100" layout-wrap layout-align="center start">
            <span flex="100" class="md-headline">Authentication</span>
            <span flex="100" class="md-subhead">Login</span>
        </div>
        
        <div layout="row" layout-align="center center" layout-margin  ng-if="LoginCtrl.waitingForResponse">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    
        <form layout="row" layout-wrap ng-if="!LoginCtrl.waitingForResponse"
            name="loginForm" ng-submit="LoginCtrl.onLoginFormSubmission()">
            <md-input-container class="no-margin-left" flex="100">
                <label>Email</label>
                <input type="email" required md-maxlength="40" md-pattern="/^.+@.+\..+$/" name="email" ng-model="LoginCtrl.email">
                <div ng-messages="loginForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'md-maxlength', 'pattern']">
                        Your email must be less than 40 characters and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
    
            <md-input-container class="no-margin-left" flex="100">
                <label>Password</label>
                <input type="password" required md-maxlength="40" name="password" ng-model="LoginCtrl.password">
                <div ng-messages="loginForm.password.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The description must be less than 40 characters long.</div>
                </div>
            </md-input-container>
    
            <div layout="row" flex="100" layout-align="space-between center" ng-show="!LoginCtrl.waitingForResponse">
                <md-button ui-sref="regist" class="md-primary">Regist</md-button>
                <md-button type="submit" class="md-raised md-primary">Login</md-button>
            </div>
        </form>    
    </div>
</div>