<div layout="row" layout-wrap ng-init="ProjectsCtrl.init()">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2>Taskify</h2>
            <span flex></span>
            <state-selector flex="100">

            </state-selector>
            <md-input-container md-no-float class="md-block">
                <label>{{ProjectsCtrl.userFullName}}</label>
                <md-select class="md-no-underline" ng-model="ProjectsCtrl.userMenuOptions">
                    <md-option ui-sref="login">Logout</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-toolbar>
    <div flex="100" layout-margin>
        <h1>Projects</h1>
    </div>

    <div class="fab-right-end margin-20px" flex="none" layout-margin>
        <md-button class="md-fab md-primary md-hue-2" aria-label="Project" ng-click="ProjectsCtrl.addProject()">
            <md-icon><span class="material-icons">add</span></md-icon>
        </md-button>
    </div>
</div>