<div layout="column" layout-fill ng-init="ProjectsCtrl.init()">
    <md-toolbar flex="auto">
        <div class="md-toolbar-tools">
            <h2>Taskify</h2>
            <span flex></span>
            <md-input-container md-no-float class="md-block">
                <label>{{ProjectsCtrl.userFullName}}</label>
                <md-select class="md-no-underline" ng-model="ProjectsCtrl.userMenuOptions">
                    <md-option ui-sref="login">Logout</md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-toolbar>

    <md-content flex="100" layout="row">
        <md-content class="projects-container-bar" flex="25" layout-wrap>
            <div flex="none" layout="row" layout-padding layout-align="space-between center">
                <h2>Projects</h2>
                <md-button class="md-fab md-mini transparent-to-primary" flex="none" ng-click="ProjectsCtrl.addProject()">
                    <md-icon><span class="material-icons">add</span></md-icon>
                </md-button>
            </div>
            <div flex="100">
                <div layout="row" layout-align="center center" ng-if="ProjectsCtrl.onLoading.projects" layout-margin>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <md-list ng-if="!ProjectsCtrl.onLoading.projects">
                    <md-list-item ng-class="'md-2-line';{ 'selected-project': project.id === ProjectsCtrl.selectedProject.id}" 
                        ng-repeat="project in ProjectsCtrl.projectsList" ng-click="ProjectsCtrl.selectProject(project)" aria-label="Project">
                        <ify-project flex="100" data="project"
                            on-edit-callback="ProjectsCtrl.onEditProject"
                            on-delete-callback="ProjectsCtrl.onDeleteProject">
                        </ify-project>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
        <div flex="75" layout-wrap layout-padding>
            <div layout="row" flex="100" layout-align="center center" ng-if="!ProjectsCtrl.selectedProject">
                <h5>Selecione um projeto</h5>
            </div>
            <div layout="column" flex="100" layout-fill ng-if="ProjectsCtrl.selectedProject">
                <div flex="none" layout="row" layout-align="space-between center">
                    <h2>Tasks</h2>
                    <md-button class="md-fab md-mini transparent-to-primary" flex="none" ng-click="ProjectsCtrl.addTask()">
                        <md-icon><span class="material-icons">add</span></md-icon>
                    </md-button>
                </div>
                <md-content flex="100">
                    <div layout="row" layout-align="center center" layout-margin ng-if="ProjectsCtrl.onLoading.tasks">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div layout="row" layout-wrap ng-if="!ProjectsCtrl.onLoading.tasks">
                        <div flex="100">
                            <ify-task ng-repeat="task in ProjectsCtrl.tasksList" data="task"
                                on-toogle-callback="ProjectsCtrl.onTaskToogle"
                                on-edit-callback="ProjectsCtrl.onEditTask"
                                on-delete-callback="ProjectsCtrl.onDeleteTask">
                            </ify-task>
                        </div>
                    </div>
                </md-content>
            </div>  
        </div>
    </md-content>
</div>
